*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*se ajusta al contenido o tamaño de la caja*/
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.padre{
    display: flex;
    flex-flow: column nowrap; /*QUE ES*/
}

.header{
    background: url('./img/bg-2.jpg');
    background-position: center;
    background-attachment: contain;
    background-size: cover  ;
    display: flex;
    flex-flow: column nowrap;
}

    .menu{
        background-color: rgba(0, 0, 0, .1);
        display: flex;
        flex-flow: row nowrap;
        height: 100px;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
    }

        .logo{
            flex: 1 1 auto;
        }

            .logo a{
                color: #fff;
                font-size: 30px;
            }

            .logo a:hover{
                color: #134644;
            }

        .nav{
            flex: 5 1 auto; /* 5 1 auto hace que se ajuste el tamaño como a escala 5 1 respecto a los demás contenedores*/
        }

            .nav a {
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10 px;
                letter-spacing: 2px;
            }

            .nav a:hover{
                color: #134644;
            }

        .social{
            display: flex;
            flex: 1 1 auto;
        }

            .social a {
                font-size: 18px;
                color: #fff;
                padding: 0 5px;
            }

            .social a:hover{
                color: #134644;
            }
    
        .texto-principal{
            background: #169868;
            
        }

            h1{
                background: #134644;
            }
    
            .section{
                background-color: cornflowerblue;
                display: flex;
            }
                .articulos{
                    background-color: lightseagreen;
                    flex: 2 1 auto; /*Significa que es 2 veces más grande que el otro*/
                    display: flex;
                    flex-flow: row wrap; 
                }
                    .article{
                        background-color: darkslategrey;
                        flex: 1 1 40%;
                    }

                    .navegacion{
                        background-color: olive;
                        flex: 1 1 100%;
                    }

                .aside{
                    background-color: seagreen;
                    flex: 1 1 auto;
                }

                    .publicidad{
                        background-color: steelblue;
                    }
            
            .footer{
                background-color:royalblue;
                display: flex;
                justify-content: center;
            }

                .pie{
                    background-color: gray;
                    width: 300px;
                }

/* Se especifican tamaños y diseños de acuerdo al tamaño de la pantalla, menor a 800px, menor a 600px y menor a 400px */
@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}

@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}