*{
    padding: 10px;
    margin: 10px;
    box-sizing: border-box; /*se ajusta al contenido o tamaño de la caja*/
}

.padre{
    display: flex;
    flex-flow: column nowrap; /*QUE ES*/
}

.header{
    background-color: #000;
    display: flex;
    flex-flow: column nowrap;
}

    .menu{
        background-color: cadetblue;
        display: flex;
        flex-flow: row nowrap;
        height: 100px;
        align-items: center;
    }

        .logo{
            background: #789812;
            flex: 1 1 auto;
            height: 30px;
        }

        .nav{
            background: #156478;
            flex: 5 1 auto; /* 5 1 auto hace que se ajuste el tamaño como a escala 5 1 respecto a los demás contenedores*/
            height: 30px;
        }

        .social{
            background: #456123;
            flex: 1 1 auto;
            height: 30px;
        }
    
        .texto-principal{
            background: #169868;
        }

            h1{
                background: #134644;
            }
    
            .section{
                background-color: cornflowerblue;
            }
                .articulos{
                    background-color: lightseagreen;
                }
                    .article{
                        background-color: darkslategrey;
                    }

                    .navegacion{
                        background-color: olive;
                    }

                .aside{
                    background-color: seagreen;
                }

                    .publicidad{
                        background-color: steelblue;
                    }
            
            .footer{
                background-color:royalblue;
            }

                .pie{
                    background-color: gray;
                }